<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    <!-- The code below is used for manually entered links  -->
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about.html">About</a></span>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/search.html">Search</a></span>


    <span style='cursor:pointer;' onclick="javascript:var hypothesis = document.createElement('script');
      hypothesis.setAttribute('src','https://hypothes.is/embed.js');
      document.head.appendChild(hypothesis);"><a class="sidebar-nav-item">Annotate Me</a></span>



  </nav>

  <div class="sidebar-item">
    <p><i>Digital Grainger: An Online Edition of The Sugar-Cane</i>. Digital Grainger, 2018, digitalgrainger.github.io/grainger/.</p> 
  </div>
</div>
