/* Grainger style sheet
 */

/* Banner Image */

#fixed-banner {
    background: url("https://ktakahata.github.io/grainger/assets/header.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.content {
	margin-top: 3rem;
}

@media (min-width: 56em) {
	.row {
	    display: flex;
	}	

	.column {
	    flex: 50%;
	}
}
