/* Grainger style sheet
 */

/* Banner Image */

#fixed-banner {
    background: url("https://ktakahata.github.io/grainger/assets/header-small.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.content {
	margin-top: 3rem;
}

@media (min-width: 56em) {
	.row {
	    display: flex;
	}	

	#fixed-banner {
    background: url("https://ktakahata.github.io/grainger/assets/header.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

	.column {
	    flex: 50%;
	}

	.column-text {
		margin-left: 1rem;
	}
}

.column-text {
	margin-bottom: 1rem;
}

#subtitle p {
	margin-top: 0.5rem;
	font-size: 1.2rem;
}

.latin {
	padding-left: 2.5rem; 
}

.centered {
	text-align: center;
}
