/* Grainger style sheet
 */

/* Banner Image */

#fixed-banner {
    background: url("https://ktakahata.github.io/grainger/assets/rat.jpg") no-repeat top center fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.content {
	margin-top: 3rem;
}

.row {
    display: flex;
}

div.column-text {
	margin-bottom: 1rem;
	margin-left: 1em;
}

.column {
    flex: 50%;
}

.center-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-device-width : 320px) and (max-device-width : 568px)  {

	#fixed-banner {
	    background: url("https://ktakahata.github.io/grainger/assets/rat-small.jpg") no-repeat center scroll;
	    background-size: 100% auto;
	    height: 150px !important;
	    width: 100%;
	    zoom: 1;
	}

	.column {
	    float: none;
	}

}

/* Typography */

#subtitle p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.indented {
	padding-left: 2.5rem; 
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
}
