---
layout: default
---
<div class="container content" id="main">
<div class="poetry">
  {{ content }}
{% if page.texts %}
	hello
{% endif %}
  <!-- {% if page.texts %}
    {% assign links = site[page.texts]  %}
{% endif %}

{% for link in links %}
	{% if link.title == page.title %}
		{% unless forloop.first %}
			{% assign prev = tmpprev %}
		{% endunless %}
		{% unless forloop.last %}
			{% assign next = links[forloop.index] %}
		{% endunless %}
	{% endif %}
	{% assign tmpprev = link %}
{% endfor %}

<ul class="prevnext">
	<li>{% if prev %}<a href="{{ prev.url}}">&lt; {{ prev.title }}</a>{% endif %}</li>
	<li>{% if next %}<a href="{{ next.url}}">{{ next.title }} &gt;</a>{% endif %}</li>
</ul> -->
<!--   <a class="navigation" href="#">previous</a> | 
  <a class="navigation" href="#">next</a> -->
</div>
</div>

